/* CSS */
@import url('main.css');
@import url('HosuTooltip.css');

/* Icons */
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&subset=latin-ext');